<<<<<<< HEAD
body{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-size: cover;
    background-color: rgb(2, 57, 94);
    width: 100%;
}
img{
    display: flex;
    justify-content: center;
    max-width: 500px;
    max-height: 300px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.we{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(12, 11, 11);
    width: 200px;
}
=======

>>>>>>> 48bc6041ed66e7987dcfbff79f4bcd21d4e83a2b
